<section class="Menu_Navegacion">

  <div class="Rutas_Navegacion">
    <a routerLink="Sistema/Inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="Sistema/Libros" routerLinkActive="active">Catalogo</a>
    <a routerLink="Sistema/Administrar" routerLinkActive="active">Perfil</a>
  </div>

  <div class="Informacion_Tienda">
    <img src="../../../../assets/Imagenes/Hanamaru.jpeg " alt="">
    <p>My Library.net</p>
  </div>

  <div class="Usuario">
    <button class="botón_menu">
      Cerrar Sesión
    </button>
  </div>

</section>
