<div class="container">
  <img src="../../../../assets/Inicio/Libro1.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro2.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro3.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro4.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro5.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro6.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro7.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro8.jpg" alt="" class="img" />
  <img src="../../../../assets/Inicio/Libro9.jpg" alt="" class="img" />
  <div class="contenedor">
    <header>
      <h3>Bienvenido</h3>
      <h1>Biblioteca Digital</h1>
    </header>

    <div></div>
  </div>
</div>
